{% extends "main_base.html" %}
{% load static %}


{% block content %}





<!-- Page Title Start -->
<section class="page-title title-bg1-agjcs">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Current Issue - Vol - {{latest_volume.volume}}, Issue - {{latest_iss.issue}}, {{latest_iss.description}}</h2>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Author Section End -->   
<section class="job-style-two job-list-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-information accordions">
                    <ul>
                        <li>
                            <a href="{% url 'about' %}" class="active">
                                About Karpagam Journal of Computer Science
                            </a>
                        </li>
                    
                        <li>
                            <div class="accordion-item" >
                                
                                <div class="accordion-title" data-tab="iteml1">
                                    <h2> Current Issues <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml1">
                                    <ul >
                                        {% for journal in journals %}
                                        <li><a href="{% url "current_issue" journal.id %}">Karpagam {{journal.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-item" >
                                <div class="accordion-title" data-tab="iteml2">
                                    <h2> Archives <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                    
                                </div>
                                <div class="accordion-content" id="iteml2">
                                    <ul >
                                        {% for journal in journals %}
                                        <li><a href="{% url 'archives' journal.id %}">Karpagam {{journal.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-item">
                                <div class="accordion-title" data-tab="iteml3">
                                    <h2> Reviewer Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml3">
                                    <ul>
                                        <li><a href="{% url 'reviewer_policy_jcs' %}">Karpagam JCS</a></li>
                                        <li><a href="{% url 'reviewer_policy_ijam' %}">Karpagam IJAM</a></li>
                                        <li><a href="{% url 'reviewer_policy_jcm' %}">Karpagam JCM</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-item">
                                <div class="accordion-title" data-tab="iteml4">
                                    <h2>Plagiarism Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml4">
                                    <ul>
                                        <li><a href="{% url 'plagiarism_policy_jcs' %}">Karpagam JCS</a></li>
                                        <li><a href="{% url 'plagiarism_policy_ijam' %}">Karpagam IJAM</a></li>
                                        <li><a href="{% url 'plagiarism_policy_jcm' %}">Karpagam JCM</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- <li>
                            <a href="#">
                                Abstracting and indexing
                            </a>
                        </li> -->
                        <li>
                            <div class="accordion-item">
                                <div class="accordion-title" data-tab="iteml5">
                                    <h2> Paper Template <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml5">
                                    <ul>
                                        <li><a href="{% static '/downloads/paper-template-jcs.pdf'%}" target="_blank">Karpagam JCS</a></li>
                                        <li><a href="{% static '/downloads/paper-template-ijam.pdf'%}" target="_blank">Karpagam IJAM</a></li>
                                        <li><a href="{% static '/downloads/paper-template-jcm.pdf'%}" target="_blank">Karpagam JCM</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-item" >
                                <div class="accordion-title" data-tab="iteml6">
                                    <h2> Review Board <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml6"> 
                                    <ul>
                                        <li><a href="{% url 'review_board_jcs' %}">Karpagam JCS</a></li>
                                        <li><a href="{% url 'review_board_ijam' %}">Karpagam IJAM</a></li>
                                        <li><a href="{% url 'review_board_jcm' %}">Karpagam JCM</a></li>
                                    </ul>
                                </div> 
                            </div>
                        </li>
                            {% if user.is_authenticated %}
                                {% for group in user.groups.all %}
                                    {% if group.name == 'Author' %}
                                        <li><a href="{% url 'startnew' %}">Online Paper Submission</a></li>
                                    
                                    {% else %}
                                        <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                            {% endif %}
                        <li>
                            <div class="accordion-item" >
                                <div class="accordion-title" data-tab="iteml7">
                                    <h2> Copyright<i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml7"> 
                                    <ul>
                                        <li><a href="{% static '/downloads/copyright-jcs.pdf'%}" target="blank">Karpagam JCS</a></li>
                                        <li><a href="{% static '/downloads/copyright-ijam.pdf'%}" target="blank">Karpagam IJAM</a></li>
                                        <li><a href="{% static '/downloads/copyright-jcm.pdf'%}" target="blank">Karpagam JCM</a></li>
                                    </ul>
                                </div> 
                            </div>
                        </li>
                        <li>
                            <div class="accordion-item" >
                                <div class="accordion-title" data-tab="iteml8">
                                    <h2>FAQ <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                </div>
                                <div class="accordion-content" id="iteml8"> 
                                    <ul>
                                        <li><a href="{% url 'faq_karpagam_jcs' %}">FAQ - Karpagam JCS</a></li>
                                        <li><a href="{% url 'faq_karpagam_ijam' %}">FAQ - Karpagam IJAM</a></li>
                                        <li><a href="{% url 'faq_karpagam_jcm' %}">FAQ - Karpagam JCM</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                        <li><a href="{% url 'publication_fees' %}">Online Payment</a></li>
                    </ul>
                </div>
            </div>
        <div class="col-lg-8">
        <div class="section-title-archives">
            <h2>Current Issue - Vol - {{latest_volume.volume}}, Issue - {{latest_iss.issue}}, {{latest_iss.description}}</h2>
        </div>
        <div class="author-card-issue">
            <div class="row">
                <div class="col-md-5">
                    <div class="author-card-info">
                         <h3>Title of the Paper</h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3>Author(s)</h3>
                </div>
                <div class="col-md-2 text-end">
                    <h3>View Article</h3>
                </div>
            </div>
        </div>
            {% for latest_issue in latest_issues %}
                <div class="author-card-issue">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="author-card-info">
                                {{ latest_issue.article_data.title }}
                            </div>
                        </div>
                    <div class="col-md-5">
                        {{ latest_issue.article_data.authors }}
                        {% if latest_issue.co_authors %}
                            , 
                            {% for co_author in latest_issue.co_authors %}
                                {{ co_author.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>

                        <!-- <div class="col-md-3 text-end">
                            <div class="theme-btn text-end">
                                <a href="{{ latest_issue.article_data.file.url }}" onclick="window.open(this.href, '_blank', 'toolbar=0,scrollbars=1,resizable=1,width=800,height=600'); return false;">View PDF</a>
                            </div>
                        </div> -->
                        <div class="col-md-2 text-end">
                            <div class="theme-btn text-end">
                                <a href="{% url 'download_article' latest_issue.id %}" class="viewpdf" onclick="window.open(this.href, '_blank', 'toolbar=0,scrollbars=1,resizable=1,width=800,height=600'); return false;"><i class="bx bx-download bx-tada"></i> View PDF</a>
                                <!-- <a href="{% url 'download_article' latest_issue.id %}" onclick="window.open(this.href, '_blank', 'toolbar=0,scrollbars=1,resizable=1,width=800,height=600'); return false;">View PDF</a> -->
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Author Section End -->   

{% endblock content %}