{% load static %}
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
        <!-- Owl Carousel Theme Default CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css'%}">
        <!-- Box Icon CSS-->
        <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css'%}">
        <!-- Flaticon CSS-->
        <link rel="stylesheet" href="{% static 'assets/fonts/flaticon/flaticon.css'%}">
        <!-- Magnific CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css'%}">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
		<!-- Dark CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/dark.css'%}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
        <!-- Title CSS -->
        <title>Manuscript Flow</title>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}"> 
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    </head>
    <body>
        
        <!-- Pre-loader Start -->
           <!-- Pre-loader Start -->
    <div class="loader-content">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader End -->
    <section class="topbar">
        <marquee>Donec maximus, magna at imperdiet sodales, odio turpis vehicula magna, sed varius felis orci quis
            velit. </marquee>
    </section>
    <section class="bgwhitesec">
        <div class="container">
            <div class="header-section">
                <div class="hs"> <a class="navbar-brand" href="index.php">
                        <img src="{% static 'assets/img/logo.png'%}" alt="logo">
                    </a></div>
                <div class="hs1">
                    CALL FOR PAPER JAN-FEB 2024 </div>
                <div class="hs2"><img src="{% static 'assets/img/line.jpg'%}"></div>

                <div class="hs3">
                    <a href="log-in.php" class="submission-btn">Online Paper Submission</a>
                </div>
                <div class="hs4">
                    <i class='bx bx-search'></i>
                </div>

            </div>
        </div>
    </section>
    <!-- Navbar Area Start -->
    <div class="navbar-area">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="index.php" class="logo">
                <img src="{% static 'assets/img/logo.png'%}" alt="logo">
            </a>
        </div>

        <!-- Menu For Desktop Device -->
        <div class="main-nav">
            <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="index.php" class="nav-link active">Home</a>

                            </li>
                            <li class="nav-item">
                                <a href="about.php" class="nav-link dropdown-toggle">About</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about-jcs.php" class="nav-link">About JCS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-ijam.php" class="nav-link">About JME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-jcm.php" class="nav-link">About JECE</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">Editorial Board Members</a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="editorial-board-members-jcs.php" class="nav-link">Editorial Board Members 
                                            JCS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="editorial-board-members-ijam.php" class="nav-link">Editorial Board Members 
                                            JME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="editorial-board-members-jcm.php" class="nav-link">Editorial Board Members 
                                            JECE</a>
                                    </li>


                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">Author Guidelines</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="authors-guidelines-jcs.php" class="nav-link">Author’s Guidelines JCS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="authors-guidelines-ijam.php" class="nav-link">Author’s Guidelines
                                            JME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="authors-guidelines-jcm.php" class="nav-link">Author’s Guidelines
                                            JECE</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">Aim and Scope</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="aim-and-scope-jcs.php" class="nav-link">JCS Aim and Scope</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="aim-and-scope-ijam.php" class="nav-link">JME Aim and Scope</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="aim-and-scope-jcm.php" class="nav-link">JECE Aim and Scope</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="institutions.php" class="nav-link">Institutions</a>
                            </li>
                            <li class="nav-item">
                                <a href="contact.php" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'profile' %}" class="nav-link">My Profile</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar Area End -->
    <!-- Navbar Area End -->
        <!-- Navbar Area End -->
        

         <!-- Sign In Section Start -->
       
                    {% block content %}


                    {% endblock %}

        <!-- Sign In Section End -->

       <!-- Footer Section Start -->
       <footer class="footer-area pt-70 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.php">
                                <img src="{% static 'assets/img/logo-ftr.png'%}" alt="logo">
                            </a>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut
                            labore et dolore magna. Sed eiusmod tempor incididunt ut.</p>

                        <div class="footer-social">
                            <a href="https://www.facebook.com/login/" target="_blank"><i
                                    class='bx bxl-facebook'></i></a>
                            <a href="https://twitter.com/i/flow/login" target="_blank"><i
                                    class='bx bxl-twitter'></i></a>
                            <a href="https://www.pinterest.com/" target="_blank"><i
                                    class='bx bxl-pinterest-alt'></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a href="review-board-jcs.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Review Board
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'downloads/paper-template-jcs.pdf'%}" target="_blank">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Paper Template
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Abstracting and Indexing
                                </a>
                            </li>
                            <li>
                                <a href="plagiarism-policy-jcs.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Plagiarism Policy
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'downloads/copyright-jcs.pdf'%}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                   Copyright
                                </a>
                            </li>
                            <li>
                                <a href="faq-karpagam-jcs.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>&nbsp;</h3>
                        <ul>
                            <li>
                                <a href="publication-fees.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Online Payment
                                </a>
                            </li>
                            <li>
                                <a href="online-paper-submission.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Online Paper Submission
                                </a>
                            </li>
                            <li>
                                <a href="terms-and-conditions.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                   Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a href="reviewer-policy-jcs.php">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Reviewer Policy
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget footer-info">
                        <h3>Information</h3>
                        <ul>
                            <li>
                                <span>
                                    <i class='bx bxs-phone'></i>
                                    Phone:
                                </span>
                                <a href="tel:4222980014">
                                    +91-422-2980014
                                </a>
                            </li>

                            <li>
                                <span>
                                    <i class='bx bxs-envelope'></i>
                                    Email:


                                </span>
                                <a href="mailto:manuscriptflow.in">
                                    manuscriptflow.in
                                </a>
                            </li>

                            <li>
                                <span>
                                    <i class='bx bx-location-plus'></i>
                                    Address:
                                </span>

Eachanari Post, <br>Coimbatore – 641 021,
<br>Tamil Nadu, India.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright-text text-center">
        <p>Copyright © 2024 Manuscript Flow. Concept by <a href="https://irepute.in/" target="_blank">repute</a>
        </p>
    </div>
    <!-- Footer Section End -->

        <!-- Back To Top Start -->
		<div class="top-btn">
			<i class='bx bx-chevrons-up bx-fade-up'></i>
		</div>
		<!-- Back To Top End -->

		<!-- jQuery first, then Bootstrap JS -->
		<script src="{% static 'assets/js/jquery.min.js'%}"></script>
		<script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
		<!-- Owl Carousel JS -->
		<script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
		<!-- Nice Select JS -->
		<script src="{% static 'assets/js/jquery.nice-select.min.js'%}"></script>
		<!-- Magnific Popup JS -->
		<script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
		<!-- Subscriber Form JS -->
		<script src="{% static 'assets/js/jquery.ajaxchimp.min.js'%}"></script>
		<!-- Form Velidation JS -->
		<script src="{% static 'assets/js/form-validator.min.js'%}"></script>
		<!-- Contact Form -->
		<script src="{% static 'assets/js/contact-form-script.js'%}"></script>
		<!-- Meanmenu JS -->
		<script src="{% static 'assets/js/meanmenu.js'%}"></script>
		<!-- Custom JS -->
		<script src="{% static 'assets/js/custom.js'%}"></script>
  	</body>
</html>