{% extends 'main_base.html' %}
{% block content %}
    <!-- Registration Complete Section Start -->
    <section class="registration-complete-section">
        <div class="signup-section ptb-60" >
            <div class="container">
                <form class="signup-form">
                <div class="row justify-content-center">
                   
                    <div class="col-lg-6 col-md-6 ">
                        <h2>Registration Complete</h2>
                        <p>Your registration was successful.</p>
                        <p> now you can, Check your mail</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Registration Complete Section End -->
{% endblock %}
