{% extends "main_base.html" %}
{% load static %}
{% block content %}

        <!-- Page Title Start -->
        <section class="page-title title-bg1-aimjcm">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Karpagam JCM - Aim and Scope</h2>
                    <!-- <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul> -->
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

          <!-- About Area Start -->
    <section class="about-section pt-100 pb-60">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
               
                        <div class="about-information accordions">
                            <ul>
                                <li>
                                    <a href="{% url 'about' %}" class="active">
                                        About Karpagam Journal of Computer Science
                                    </a>
                                </li>
                            
                                <li>
                                    <div class="accordion-item" >
                                        
                                        <div class="accordion-title" data-tab="iteml1">
                                            <h2> Current Issues <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml1">
                                            <ul >
                                                {% for journal in journals %}
                                                <li><a href="{% url "current_issue" journal.id %}">Karpagam {{journal.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml2">
                                            <h2> Archives <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                            
                                        </div>
                                        <div class="accordion-content" id="iteml2">
                                            <ul >
                                                {% for journal in journals %}
                                                <li><a href="{% url 'archives' journal.id %}">Karpagam {{journal.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml3">
                                            <h2> Reviewer Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml3">
                                            <ul>
                                                <li><a href="{% url 'reviewer_policy_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'reviewer_policy_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'reviewer_policy_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml4">
                                            <h2>Plagiarism Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml4">
                                            <ul>
                                                <li><a href="{% url 'plagiarism_policy_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'plagiarism_policy_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'plagiarism_policy_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <a href="#">
                                        Abstracting and indexing
                                    </a>
                                </li> -->
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml5">
                                            <h2> Paper Template <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml5">
                                            <ul>
                                                <li><a href="{% static '/downloads/paper-template-jcs.pdf'%}" target="_blank">Karpagam JCS</a></li>
                                                <li><a href="{% static '/downloads/paper-template-ijam.pdf'%}" target="_blank">Karpagam IJAM</a></li>
                                                <li><a href="{% static '/downloads/paper-template-jcm.pdf'%}" target="_blank">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml6">
                                            <h2> Review Board <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml6"> 
                                            <ul>
                                                <li><a href="{% url 'review_board_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'review_board_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'review_board_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </li>
                                    {% if user.is_authenticated %}
                                        {% for group in user.groups.all %}
                                            {% if group.name == 'Author' %}
                                                <li><a href="{% url 'startnew' %}">Online Paper Submission</a></li>
                                            
                                            {% else %}
                                                <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                    {% endif %}
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml7">
                                            <h2> Copyright<i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml7"> 
                                            <ul>
                                                <li><a href="{% static '/downloads/copyright-jcs.pdf'%}" target="blank">Karpagam JCS</a></li>
                                                <li><a href="{% static '/downloads/copyright-ijam.pdf'%}" target="blank">Karpagam IJAM</a></li>
                                                <li><a href="{% static '/downloads/copyright-jcm.pdf'%}" target="blank">Karpagam JCM</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml8">
                                            <h2>FAQ <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml8"> 
                                            <ul>
                                                <li><a href="{% url 'faq_karpagam_jcs' %}">FAQ - Karpagam JCS</a></li>
                                                <li><a href="{% url 'faq_karpagam_ijam' %}">FAQ - Karpagam IJAM</a></li>
                                                <li><a href="{% url 'faq_karpagam_jcm' %}">FAQ - Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                                <li><a href="{% url 'publication_fees' %}">Online Payment</a></li>
                            </ul>
                            
                        </div>
                   
                </div>

                    <div class="col-md-8" style="text-align:left;">                    
                        <div class="section-title-space">
                            <h2>Aim and Scope</h2>                       
                        </div>
                        <div class="about-text">
                            <p>Karpagam JCM (KJCM) aims to publish scholarly research articles on contemporary issues in Commerce and Management.</p>
                            <p>It offers an opportunity for Academicians, Industrialists, Research Scholars and Students of Commerce and Management to publish their research work.</p>
                            <p>All the articles will be scrutinized by a Panel of Experts followed by plagiarism verification employing Turnitin software and will be published after carrying out Linguistic Correction.</p>
                        </div>
                        <div class="about-text-list">
                            <h3>Topics Covered in Karpagam JCM</h3>
                            <div class="row">                               
                                <div class="col-md-6">                               
                            <ul>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Accounting
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Artificial Intelligence
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Auditing
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Banking
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Business Analytics
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Corporate Governance
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Corporate Social Responsibility
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Cyber Security
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Digital Marketing
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    E Commerce
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Entrepreneurship
                                </li>
                                </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul> 
                               
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Finance
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    General Management
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Human Resource Management
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Insurance
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Logistics and Supply Chain Management
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Marketing
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Organization Behaviour
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Stock Market
                                </li>
                                <li>
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Taxation
                                </li>
                               
                               
                            </ul> 
                                 </div>
                            </div>
                        </div>           
                    </div>              
            </div>
        </div>
    </section>
    <!-- About Area End -->

    {% endblock %}
    