{% extends "main_base.html" %}
{% load static %}



{% block content %}
        <!-- Page Title Start -->
        <section class="page-title title-bg1-contact">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Contact</h2>
                    <!-- <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul> -->
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

          <!-- About Area Start -->
    <section class="about-section pt-100 pb-50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3">
               
                        <div class="about-information accordions">
                            <ul>
                                <li>
                                    <a href="{% url 'about' %}" class="active">
                                        About Karpagam Journal of Computer Science
                                    </a>
                                </li>
                            
                                <li>
                                    <div class="accordion-item" >
                                        
                                        <div class="accordion-title" data-tab="iteml1">
                                            <h2> Current Issues <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml1">
                                            <ul >
                                                {% for journal in journals %}
                                                <li><a href="{% url "current_issue" journal.id %}">Karpagam {{journal.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml2">
                                            <h2> Archives <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                            
                                        </div>
                                        <div class="accordion-content" id="iteml2">
                                            <ul >
                                                {% for journal in journals %}
                                                <li><a href="{% url 'archives' journal.id %}">Karpagam {{journal.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml3">
                                            <h2> Reviewer Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml3">
                                            <ul>
                                                <li><a href="{% url 'reviewer_policy_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'reviewer_policy_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'reviewer_policy_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml4">
                                            <h2>Plagiarism Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml4">
                                            <ul>
                                                <li><a href="{% url 'plagiarism_policy_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'plagiarism_policy_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'plagiarism_policy_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <a href="#">
                                        Abstracting and indexing
                                    </a>
                                </li> -->
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml5">
                                            <h2> Paper Template <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml5">
                                            <ul>
                                                <li><a href="{% static '/downloads/paper-template-jcs.pdf'%}" target="_blank">Karpagam JCS</a></li>
                                                <li><a href="{% static '/downloads/paper-template-ijam.pdf'%}" target="_blank">Karpagam IJAM</a></li>
                                                <li><a href="{% static '/downloads/paper-template-jcm.pdf'%}" target="_blank">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml6">
                                            <h2> Review Board <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml6"> 
                                            <ul>
                                                <li><a href="{% url 'review_board_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'review_board_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'review_board_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </li>
                                    {% if user.is_authenticated %}
                                        {% for group in user.groups.all %}
                                            {% if group.name == 'Author' %}
                                                <li><a href="{% url 'startnew' %}">Online Paper Submission</a></li>
                                            
                                            {% else %}
                                                <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                    {% endif %}
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml7">
                                            <h2> Copyright<i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml7"> 
                                            <ul>
                                                <li><a href="{% static '/downloads/copyright-jcs.pdf'%}" target="blank">Karpagam JCS</a></li>
                                                <li><a href="{% static '/downloads/copyright-ijam.pdf'%}" target="blank">Karpagam IJAM</a></li>
                                                <li><a href="{% static '/downloads/copyright-jcm.pdf'%}" target="blank">Karpagam JCM</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml8">
                                            <h2>FAQ <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml8"> 
                                            <ul>
                                                <li><a href="{% url 'faq_karpagam_jcs' %}">FAQ - Karpagam JCS</a></li>
                                                <li><a href="{% url 'faq_karpagam_ijam' %}">FAQ - Karpagam IJAM</a></li>
                                                <li><a href="{% url 'faq_karpagam_jcm' %}">FAQ - Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                                <li><a href="{% url 'publication_fees' %}">Online Payment</a></li>
                            </ul>
                            
                        </div>
                   
                </div>

                <div class="col-md-8">
                    <div class="about-text">
                        <!-- <div class="section-title">
                            <h2>Editorial Board Members - Karpagam JCS</h2>
                        </div> -->
                    </div> 
                <div class="row" style="text-align:left;">
                    <div class="sub-title">               
                        <h2>Karpagam JCS</h2>
                        </div>
                        <div class="row">                   
                        <div class="col-md-12">
                            <div class="sub-title">               
                                <h3>Publisher</h3>
                                </div>
                            <div class="editor-card-board">                               
                                <div class="editor-info">
                                    
                                    <ul>    
                                        <li>
                                            Karpagam Journal of Computer Science,
                                            <br>Karpagam Academy of Higher Education,
                                            <br>Eachanari Post, Coimbatore – 641 021.
                                            <br>Tamil Nadu. India
                                            <br>Phone: +91-422-2980014
                                            <br>Email: <a
                                                href="mailto:jcs@kahedu.edu.in">jcs@kahedu.edu.in</a>
                                                <br>Website: <a href="{% url 'index' %}" target="_blank">www.karpagampublications.com</a>
                                        </li>        
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                        
                        <div class="col-md-12">
                            <div class="sub-title">               
                                <h3>Editor-in-Chief</h3>
                                </div>
                            <div class="editor-card-board">
                                <div class="editor-info">
                                    <h4>
                                        Dr. S. Ravi M.Sc., Ph.D
                                    </h4>
                                    <b>Registrar</b>
                                    <ul>    
                                        <li>
                                            Karpagam Academy of Higher Education,
                                            <br>Eachanari Post,
                                            <br>Coimbatore – 641 021.
                                            <br>Email: <a
                                                href="mailto:registrar@kahedu.edu.in">registrar@kahedu.edu.in</a>
                                        </li>        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div> 
        </div>   
    </section>
    <!-- About Area End -->


         <!-- Editorial Board Section Start -->
        <!-- <section class="about-section pt-60 pb-60 bg-grey">
            <div class="container">
                <div class="row" style="text-align:left;">          
                                     
                        <div class="col-md-6">
                            <div class="sub-title">               
                                <h2>Karpagam IJAM</h2>
                                </div>
                            <div class="editor-card-board">                             
                                        <div class="editor-info">
                                            <h4>
                                                Karpagam Journal of Computer Science (Karpagam Charity Trust),
                                            </h4>
                                            <ul>    
                                                <li>
                                                    Karpagam Academy of Higher Education,
                                                    <br>Eachanari Post,
                                                    <br>Coimbatore – 641 021.
                                                    <br>Tamil Nadu.
                                                    <br>India.
                                                    <br>Phone: +91-422-6453777, 6471113-15, 2980011-14
                                                    <br>Fax : 0422-2980022-23
                                                    <br>Email: <a
                                                        href="mailto:ijam@kahedu.edu.in, karpagampublisher@kahedu.edu.in">ijam@kahedu.edu.in, karpagampublisher@kahedu.edu.in</a>
                                                        <br>Website: <a href="{% url 'index' %}" target="_blank">www.karpagampublications.com</a>
                                                </li>        
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                           
                        <div class="col-md-6"> 
                            <div class="sub-title">               
                                <h2>Karpagam JCM</h2>
                                </div>                           
                            <div class="editor-card-board">                             
                                <div class="editor-info">
                                    <h4>
                                        Karpagam Journal of Computer Science (Karpagam Charity Trust),
                                </h4>
                                <ul>    
                                    <li>
                                    Karpagam Academy of Higher Education,
                                                    <br>Eachanari Post,
                                                    <br>Coimbatore – 641 021.
                                                    <br>Tamil Nadu.
                                                    <br>India.
                                                    <br>Phone: +91-422-6453777, 6471113-15, 2980011-14
                                                    <br>Fax : 0422-2980022-23
                                                    <br>Email: <a
                                                        href="mailto:editorkjcm@kahedu.edu.in">editorkjcm@kahedu.edu.in</a>
                                                        <br>Website: <a href="{% url 'index' %}" target="_blank">www.karpagampublications.com</a>
                                                        
                                    </ul>
                                </div>
                            </div>                            
                        </div>                   
                </div>
            </div>
        </section> -->
        <!-- Editorial Board Section End -->

        {% endblock %}