{% extends "main_base.html" %}
{% load static %}


{% block content %}

        <!-- Page Title Start -->
        <section class="page-title title-bg1-ins">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Institutions</h2>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

           <!-- About Area Start -->
    <section class="about-section pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="institution">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-md-8">
                                <div class="comp-info">
                                    <h3>
                                        ABC ACADEMY OF HIGHER EDUCATION
                                    </h3>
                                    <ul>
                                        <li>
                                            (Deemed to be University Established Under Section 3 of UGC Act, 1956)
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <img src="{% static 'assets/img/ins-logo-1.png'%}" alt="logo">

                            </div>
                            <div class="col-md-2">
                                <div class="theme-btn text-end">
                                    <a href="https://kahedu.edu.in/" class="default-btn">
                                        View More

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="institution">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-md-8">
                                <div class="comp-info">
                                    <h3>
                                        ABC COLLEGE OF ENGINEERING
                                    </h3>
                                    <ul>
                                        <li>
                                            (Autonomous – Approved by AICTE, Affiliated to Anna University, Accredited by NBA )
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <img src="{% static 'assets/img/ins-logo-2.png'%}" alt="logo">

                            </div>
                            <div class="col-md-2">
                                <div class="theme-btn text-end">
                                    <a href="https://kce.ac.in/" class="default-btn">
                                        View More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="institution">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-md-8">
                                <div class="comp-info">
                                    <h3>
                                        ABC COLLEGE OF PHARMACY
                                    </h3>
                                    <ul>
                                        <li>
                                            (Approved by PCI, AICTE and Govt. of Tamil Nadu, Affiliated to The Tamil Nadu Dr.MGR Medical University )
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <img src="{% static 'assets/img/ins-logo-3.png'%}" alt="logo">

                            </div>
                            <div class="col-md-2">
                                <div class="theme-btn text-end">
                                    <a href="https://kcp.edu.in/" class="default-btn">
                                        View More

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="institution">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-md-8">
                                <div class="comp-info">
                                    <h3>
                                        ABC NURSING COLLEGE
                                    </h3>
                                    <ul>
                                        <li>
                                            (Approved by Indian Nursing Council, Govt. of Tamil Nadu, Affiliated to The Tamil Nadu Dr.MGR Medical University )
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <img src="{% static 'assets/img/ins-logo-5.png'%}" alt="logo">

                            </div>
                            <div class="col-md-2">
                                <div class="theme-btn text-end">
                                    <a href="https://www.knc.ac.in/" class="default-btn">
                                        View More

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="institution">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-md-8">
                                <div class="comp-info">
                                    <h3>
                                        ABC INSTITUTE OF TECHNOLOGY
                                    </h3>
                                    <ul>
                                        <li>
                                            (Approved by AICTE, Affiliated to Anna University )
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="{% static 'assets/img/ins-logo-4.png'%}" alt="logo">
                            </div>
                            <div class="col-md-2">
                                <div class="theme-btn text-end">
                                    <a href="https://tech.ac.in/" class="default-btn">
                                        View More

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="institution">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-md-8">
                                <div class="comp-info">
                                    <h3>
                                        ABC FACULTY OF MEDICAL SCIENCES AND RESEARCH
                                    </h3>
                                    <ul>
                                        <li>
                                            (Approved by Medical Council of India, Affiliated to The Tamil Nadu Dr.MGR Medical University)
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <img src="{% static 'assets/img/ins-logo-6.png'%}" alt="logo">

                            </div>
                            <div class="col-md-2">
                                <div class="theme-btn text-end">
                                    <a href="https://www.shiksha.com/college/abc-faculty-of-medical-sciences-and-research-coimbatore-69851" class="default-btn">
                                        View More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            </div>
        </section>
    <!-- About Area End -->

    {% endblock %}