{% extends "main_base.html" %}
{% load static %}


{% block content %}

        <!-- Page Title Start -->
        <section class="page-title title-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Karpagam JCS Subscription</h2>
                    <!-- <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul> -->
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

          <!-- About Area Start -->
    <section class="about-section pt-100 pb-60">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
               
                        <div class="about-information accordions">
                            <ul>
                                <li>
                                    <a href="{% url 'about' %}" class="active">
                                        About Karpagam Journal of Computer Science
                                    </a>
                                </li>
                            
                                <li>
                                    <div class="accordion-item" >
                                        
                                        <div class="accordion-title" data-tab="iteml1">
                                            <h2> Current Issues <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml1">
                                            <ul >
                                                {% for journal in journals %}
                                                <li><a href="{% url "current_issue" journal.id %}">Karpagam {{journal.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml2">
                                            <h2> Archives <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                            
                                        </div>
                                        <div class="accordion-content" id="iteml2">
                                            <ul >
                                                {% for journal in journals %}
                                                <li><a href="{% url 'archives' journal.id %}">Karpagam {{journal.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml3">
                                            <h2> Reviewer Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml3">
                                            <ul>
                                                <li><a href="{% url 'reviewer_policy_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'reviewer_policy_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'reviewer_policy_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml4">
                                            <h2>Plagiarism Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml4">
                                            <ul>
                                                <li><a href="{% url 'plagiarism_policy_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'plagiarism_policy_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'plagiarism_policy_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <a href="#">
                                        Abstracting and indexing
                                    </a>
                                </li> -->
                                <li>
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-tab="iteml5">
                                            <h2> Paper Template <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml5">
                                            <ul>
                                                <li><a href="{% static '/downloads/paper-template-jcs.pdf'%}" target="_blank">Karpagam JCS</a></li>
                                                <li><a href="{% static '/downloads/paper-template-ijam.pdf'%}" target="_blank">Karpagam IJAM</a></li>
                                                <li><a href="{% static '/downloads/paper-template-jcm.pdf'%}" target="_blank">Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml6">
                                            <h2> Review Board <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml6"> 
                                            <ul>
                                                <li><a href="{% url 'review_board_jcs' %}">Karpagam JCS</a></li>
                                                <li><a href="{% url 'review_board_ijam' %}">Karpagam IJAM</a></li>
                                                <li><a href="{% url 'review_board_jcm' %}">Karpagam JCM</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </li>
                                    {% if user.is_authenticated %}
                                        {% for group in user.groups.all %}
                                            {% if group.name == 'Author' %}
                                                <li><a href="{% url 'startnew' %}">Online Paper Submission</a></li>
                                            
                                            {% else %}
                                                <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li><a href="{% url 'logout' %}">Online Paper Submission</a></li>
                                    {% endif %}
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml7">
                                            <h2> Copyright<i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml7"> 
                                            <ul>
                                                <li><a href="{% static '/downloads/copyright-jcs.pdf'%}" target="blank">Karpagam JCS</a></li>
                                                <li><a href="{% static '/downloads/copyright-ijam.pdf'%}" target="blank">Karpagam IJAM</a></li>
                                                <li><a href="{% static '/downloads/copyright-jcm.pdf'%}" target="blank">Karpagam JCM</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion-item" >
                                        <div class="accordion-title" data-tab="iteml8">
                                            <h2>FAQ <i class='bx bx-chevrons-right down-arrow'></i></h2>
                                        </div>
                                        <div class="accordion-content" id="iteml8"> 
                                            <ul>
                                                <li><a href="{% url 'faq_karpagam_jcs' %}">FAQ - Karpagam JCS</a></li>
                                                <li><a href="{% url 'faq_karpagam_ijam' %}">FAQ - Karpagam IJAM</a></li>
                                                <li><a href="{% url 'faq_karpagam_jcm' %}">FAQ - Karpagam JCM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                                <li><a href="{% url 'publication_fees' %}">Online Payment</a></li>
                            </ul>
                            
                        </div>
                   
                </div>

                <div class="col-md-8">                    
                        <div class="section-title-space">
                            <h2>Karpagam JCS Subscription</h2>
                        </div>
                        <div class="editor-card-table table-responsive" style="text-align:left;">                      
                            <table cellpadding="10" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Subscription Plan</th>
                                      <th>Delivery Unregistered Parcel</th>
                                      <th>Delivery Courier Service</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                <tr>
                                <td style="border-top:1px solid #d9dbdf;">Three Year</td>
                                <td style="border-top:1px solid #d9dbdf;">Rs. 4000 /-</td>
                                <td style="border-top:1px solid #d9dbdf;">Rs. 5260 /-</td>
                                </tr>
                                <tr>
                                <td>Two Year</td>
                                <td>Rs. 2750 /-</td>
                                <td>Rs. 3590 /-</td>
                                </tr>
                                <tr>
                                <td>One Year</td>
                                <td>Rs. 1500 /-</td>
                                <td>Rs. 1920 /-</td>
                                </tr>
                                <tr>
                                <td>Single Copy</td>
                                <td>Rs. 300 /-</td>
                                <td>Rs. 370/ –</td>
                                </tr>
                                </tbody>
                                </table>
                            </div>  
                            <div class="about-text mt-30">
                                <p>All correspondence regarding subscription should be addressed to<br>
                                    <b>The Subscription Manager,</b><br>
                                    <b>Karpagam Publication,</b>
                                    <br>Karpagam Charity Trust, Eachanari,
                                    <br>Coimbatore – 641 021, India.
                                <br>
                                <br>
                                Ph: <a href="tel:04222980011, 04222980012">+91-422-2980011, 0422-2980012</a>
                                <br>E-mail: <a href="mailto:subscriptions_jcs@rediffmail.com">subscriptions_jcs@rediffmail.com</a>
                            </p>              
                            </div>
                            <div class="section-title"><a href="./assets/online-submission.pdf" class="readmore" target="_blank">Download Subscription Form</a></div>
                    </div>              
                </div>
            </div>
        </section>
    <!-- About Area End -->
    {% endblock %}